[submodule "codebase/407-activity-feed-from-scratch"]
	path = codebase/407-activity-feed-from-scratch
	url = git@github.com:railscasts/407-activity-feed-from-scratch.git
[submodule "codebase/406-public-activity"]
	path = codebase/406-public-activity
	url = git@github.com:railscasts/406-public-activity.git
[submodule "codebase/401-actioncontroller-live"]
	path = codebase/401-actioncontroller-live
	url = https://github.com/railscasts/401-actioncontroller-live.git
[submodule "codebase/229r-polling-for-changes"]
	path = codebase/229r-polling-for-changes
	url = https://github.com/railscasts/229-polling-for-changes-revised.git
[submodule "codebase/400--rails-4"]
	path = codebase/400--rails-4
	url = git@github.com:railscasts/400-what-s-new-in-rails-4.git
[submodule "codebase/399-autocomplete-search-terms"]
	path = codebase/399-autocomplete-search-terms
	url = git@github.com:railscasts/399-autocomplete-search-terms.git
