#articles {
  h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  p { margin: 5px 0; }
}
.info {
  font-style: italic;
  font-size: 12px;
}

.comment {
  width: 400px;
  padding: 0 20px;
  margin: 10px 0;
  font-weight: normal;
  font-size: 14px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD));
  background: -moz-linear-gradient(top,  #EEE, #DDD);
  p {
    margin: 10px 0;
  }
}
