// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product {
  margin: 20px 0;
  h2, p { margin: 4px 0; }
  h2 { font-size: 18px; }
}