<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <%= simple_format comment.content %>
    </div>
  <% end %>
</div>
<p><%= link_to "New Comment", [:new, @commentable, :comment] %></p>
