// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  display: block;
  margin-bottom: 5px;
}

i {
  color: #777;
  font-size: 12px;
}