<h1>Products</h1>

<table id="products">
  <tr>
    <th>Product Name</th>
    <th>Category</th>
    <th>Price</th>
  </tr>
<% @products.each do |product| %>
  <tr>
    <td><%= link_to product.name, product %></td>
    <td><%= product.category.name if product.category %></td>
    <td class="price"><%= number_to_currency(product.price) %></td>
    <td><%= link_to "edit", edit_product_path(product) %></td>
  </tr>
<% end %>
</table>
