<h1>To Do List</h1>

<%= content_tag :div, id: "tasks", data: {tasks: @tasks} do %>
  <p><a href="#" id="toggle_offline">Go Offline</a></p>

  <%= form_for Task.new do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "Add" %>
  <% end %>

  <h2>Incomplete Tasks</h2>
  <div class="tasks" id="incomplete_tasks">
  </div>

  <a href="#" id="complete_all">Mark all as complete</a>

  <h2>Complete Tasks</h2>
  <div class="tasks" id="complete_tasks">
  </div>
<% end %>

<script type="text/template" id="task_template">
  <div class="task">
    <input type="checkbox" id="task_{{id}}" data-id="{{id}}"{{#complete}} checked{{/complete}}>
    <label class="name" for="task_{{id}}">{{name}}</label>
  </div>
</script>
