<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to "Best Book Store", books_path %>
      </h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Browse Books", books_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Contact Us" %></li>
    </ul>
  </section>
</nav>
