// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { /* quick hack to get things looking nicer */
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-top: 20px;
  a {
    &, &:active, &:visited {
      color: #2E47D2;
      background-color: #FFF;
    }
  }
}

#menu {
  list-style: none;
  margin: 0;
  margin-top: -20px;
  margin-left: -50px;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 40px;
  border-bottom: solid 1px black;
  height: 50px;
  background-color: #3E5F7F;
  background: -moz-linear-gradient(top,  #3E5F7F 0%, #3E5F7F 70%, #273D51 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3E5F7F), color-stop(70%,#3E5F7F), color-stop(100%,#273D51)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3E5F7F 0%,#3E5F7F 70%,#273D51 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3E5F7F 0%,#3E5F7F 70%,#273D51 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3E5F7F 0%,#3E5F7F 70%,#273D51 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #3E5F7F 0%,#3E5F7F 70%,#273D51 100%); /* W3C */
  li {
    margin-top: 22px;
    margin-left: 20px;
    padding: 0;
    float: left;
    a {
      padding: 0 10px;
      padding-top: 5px;
      height: 22px;
      display: block;
      text-decoration: none;
      border: solid 1px #000;
      border-bottom: solid 1px #777;
      color: black;
      background-color: white;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      background: -moz-linear-gradient(top,  #FFF 0%, #FFF 70%, #CCC 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(70%,#FFF), color-stop(100%,#CCC)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #FFF 0%,#FFF 70%,#CCC 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #FFF 0%,#FFF 70%,#CCC 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #FFF 0%,#FFF 70%,#CCC 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #FFF 0%,#FFF 70%,#CCC 100%); /* W3C */

      &:hover, &.active {
        background: #FFF;
        border-bottom: solid 1px #FFF;
      }
    }
  }
}

#submenu > ul {
  float: left;
  list-style: none;
  border-right: dashed #777 1px;
  padding: 6px 14px;
  padding-bottom: 30px;
  margin-top: -10px;
  margin-bottom: 100px;
  margin-right: 20px;
  margin-left: 0;
  li {
    margin: 8px 0;
  }
  ul {
    font-size: 11px;
    margin: 0;
    padding-left: 16px;
    li {
      margin: 5px 0;
    }
  }
}
